

<div class="home   bg-info text-center py-5 d-flex flex-column justify-content-center align-items-center">
    <img src="../../assets/imgs/avataaars.svg" class="w-25 py-4" alt="">
    <h2 class="text-white">START FRAMEWORK</h2>
   <div class="shape d-flex justify-content-center align-items-center text-white">
    <div class="line mx-2 "></div>
    <span class="text-white"><i class="fa-solid fa-star  "></i></span> 
    <div class="line mx-2"></div>
   </div>
    <h3 class="text-white">Graphic Artist - Web Designer - Illustrator</h3>
</div>

